<html>
  <head>
    <title>XYZZY</title>
  </head>
  <body>
  It's a bright, cold day in April and the clocks are already striking thirteen.
  <br /><br />
  You find yourself alone on a horribly-designed website with nothing but a mouse, a text editor, and, for some reason, access to the server code.<br />
  Click <a href="/register" id="Register">here</a> to begin.

